.jumbotron {
    background-color: #f8f7ff;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

h5 {
    font-weight: 600;
    color: #9381ff;
}

blockquote {
    padding: 20px 25px 20px 25px;
    background: #ffffff;
    border-left: 3px solid #9381ff;
    display: block;
}

wrap {
    color: grey;
}

.miniText {
    font-size: 13px;
}

.card {
    border: 0;
    border-radius: 0px;
    background-color: #f8f7ff;
    color: black;
}

.card:hover > .card-title{
    color: #9381ff;
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-weight: 300;
    color: grey;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

.img-container {
    overflow: hidden;
}

.card > .img-container > .card-img-top {
    border-radius: 0;
    transition: transform .5s ease;
}

.card:hover > .img-container > .card-img-top {
    transform: scale(1.075);
}